.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.btnbtn-primary{
  background-color: #1e32c8;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  color: rgb(28, 4, 4);
  


}

.container{
  display: flex;
  width:100%;
  height: 1400px;
  
}


.small{
  width: 16%;
  border: 2px solid green;
  margin-left: 200px;
}
.card-img-top{
  width: 40%;
  border-radius: 8px;
  margin-bottom: none;




height: 30%;
margin:none;}

.trend{
  width: 3;
}
.bign{
  border: 2px solid black;
  width: 80%;
}

.col-1{
  display: flex;
}











/* 

.simag{
  width: 35%;
  height: 100%;

  margin-left: 3px;
  margin-right: 10px;
 

}
.simg{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.sbox{
  width: 100%;
  height: 24%;
 
  margin-bottom: 5px;
  display: flex;
}
.small{
  width: 40%;
  height: 500px;
  margin-left: 20px;
  padding-top: 30px;
 
} */